params.consensusVersion = "bfx-sbx-consensus:0.1.0-SNAPSHOT-main-latest"
params.demuxVersion = "bfx-sbx-demux:0.1.0-SNAPSHOT-main-latest"
params.umiVersion = "bfx-sbx-umi:0.1.0-SNAPSHOT-main-latest"
params.consensus_cobbsaladVersion = "bfx-sbx-consensus_cobbsalad:0.1.0-SNAPSHOT-main-latest"
params.clusterer_allamericanVersion = "bfx-sbx-clusterer_allamerican:0.1.0-SNAPSHOT-main-latest"
params.demux_sbx_index_toolsVersion = "bfx-sbx-demux_sbx_index_tools:0.1.0-SNAPSHOT-main-latest"
params.alignVersion = "bfx-sbx-bwa_samtools:0.1.0-SNAPSHOT-main-latest"
params.cpuDemuxVersion = "sbx_nf_pipeline_rnd/cpu_demux:latest"
