params.consensusVersion = "navifyplatform-eug-docker.jfrog.io/bfx-sbx-consensus:0.1.0-SNAPSHOT-main-latest"
params.demuxVersion = "navifyplatform-eug-docker.jfrog.io/bfx-sbx-demux:0.1.0-SNAPSHOT-main-latest"
params.umiVersion = "navifyplatform-eug-docker.jfrog.io/bfx-sbx-umi:0.1.0-SNAPSHOT-main-latest"
params.consensus_cobbsaladVersion = "navifyplatform-eug-docker.jfrog.io/bfx-sbx-consensus_cobbsalad:0.1.0-SNAPSHOT-main-latest"
params.clusterer_allamericanVersion = "navifyplatform-eug-docker.jfrog.io/bfx-sbx-clusterer_allamerican:0.1.0-SNAPSHOT-main-latest"
params.demux_sbx_index_toolsVersion = "navifyplatform-eug-docker.jfrog.io/bfx-sbx-demux_sbx_index_tools:0.1.0-SNAPSHOT-main-latest"
params.alignVersion = "navifyplatform-eug-docker.jfrog.io/bfx-sbx-bwa_samtools:0.1.0-SNAPSHOT-main-latest"
params.cpuDemuxVersion = "rssregistry.roche.com:5001/rsu/sbx_nf_pipeline_rnd/cpu_demux:latest"
